---
export interface Props {
  poem: any;
  isPermalink?: boolean;
}

const { poem, isPermalink = false } = Astro.props;
const { Content } = await poem.render();
---

<article class="poem" id={poem.data.id} style={`background-color: ${poem.data.backgroundColor};`}>
  <h2 style={`color: ${poem.data.titleColor};`}>
    {isPermalink ? (
      <span set:html={poem.data.title}></span>
    ) : (
      <a href={`/poem/${poem.id}`} class="title-link" style={`color: ${poem.data.titleColor}; text-decoration: none;`} set:html={poem.data.title}>
      </a>
    )}
  </h2>
  <pre class="stanzas" style={`color: ${poem.data.textColor};`}>
    <Content />
  </pre>
</article>

<style>
  .poem {
    padding: 2rem;
    border-radius: 8px;
    text-align: left;
    min-width: 20rem;
    margin-block-end: 4rem;
  }
  
  .poem h2 {
    line-height: 1.2;
    font-family: 'Lacrima Serif Bold', serif;
  }
  
  .poem h2 .title-link {
    display: block;
    text-decoration: none;
  }
  
  .stanzas {
    white-space: pre-wrap;
    font-family: inherit;
  }
</style> 