---
export interface Props {
  poem: any;
  isPermalink?: boolean;
}

const { poem, isPermalink = false } = Astro.props;
const { Content } = await poem.render();
---

<article class="poem" id={poem.data.id} style={`background-color: ${poem.data.backgroundColor};`}>
  {isPermalink ? (
    <h2 style={`color: ${poem.data.titleColor};`} set:html={poem.data.title}></h2>
  ) : (
    <h2 style={`color: ${poem.data.titleColor};`} set:html={`<a href="/poem/${poem.id}" class="title-link" style="color: ${poem.data.titleColor}; text-decoration: none;">${poem.data.title}</a>`}></h2>
  )}
  <pre class="stanzas" style={`color: ${poem.data.textColor};`}>
    <Content />
  </pre>
</article>

<style>
  .poem {
    padding: 2rem;
    border-radius: 8px;
    text-align: left;
    min-width: 20rem;
    margin-block-end: 4rem;
  }
  
  .poem h2 .title-link {
    display: block;
    text-decoration: none;
    font-family: 'Lacrima Serif Bold', serif;
  }
  
  .stanzas {
    white-space: pre-wrap;
    font-family: inherit;
  }
</style> 